:root {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #0645ad;
}

[theme='light'] {
  --bg-color: #fff;
  --text-color: #000;
  --link-color: #0645ad;
}

[theme='dark'] {
  --bg-color: #000;
  --text-color: #fff;
  --link-color: #72ff9f;
}

[theme='yellow'] {
  --bg-color: #3a4843;
  --text-color: #dde659;
  --link-color: #72ff9f;
}

[theme='red'] {
  --bg-color: #eadfd9;
  --text-color: #db4040;
  --link-color: #72ff9f;
}

[theme='green'] {
  --bg-color: #545456;
  --text-color: #70fb70;
  --link-color: #72ff9f;
}

[theme='grey'] {
  --bg-color: #312e2e;
  --text-color: #93b3ce;
  --link-color: #72ff9f;
}
